<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CAMPEROS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/formTown.css" />
  </head>
  <body class="container-fluid">
    <section class="first row d-flex justify-content-center">
      <div class="formC container-sm col-12 mt-2">
        <h1 class="text-center">Formulario de alta</h1>
        <%= typeof message != 'undefined'? message : null %>
        <form
          action="/town/createFormTown"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-2 col-12">
            <input
              type="text"
              name="town_name"
              autocomplete="none"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Nombre del pueblo"
            />
          </div>
          <div class="row">
            <div class="mb-2 col-12 col-md-6">
              <input
                type="text"
                name="email"
                autocomplete="none"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="eMail"
              />
            </div>
            <div class="mb-2 col-12 col-md-6">
              <input
                type="password"
                class="form-control"
                name="password"
                autocomplete="none"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <input
                type="text"
                class="form-control"
                name="telephone"
                autocomplete="none"
                placeholder="Telefono"
              />
            </div>
            <div class="col-12 col-md-6 mb-3">
              <input type="file" class="form-control" name="img" />
            </div>
          </div>
          <select
            class="form-select mt-3"
            aria-label="Default select example"
            name="id_region"
          >
            <option selected value="0">Seleccion una comunidad</option>
            <% resultReg.forEach(region => { %>
            <option value="<%= region.region_id %>">
              <%= region.region_name %>
            </option>
            <% }) %>
          </select>
          <br />
          <select
            class="form-select"
            aria-label="Default select example"
            name="id_city"
          >
            <option selected value="0">Seleccion una provincia</option>
            <% resultCity.forEach(city => { %>
            <option value="<%= city.city_id %>">
              <% city.city_id %><%= city.city_name %>
            </option>
            <% }) %>
          </select>
          <br />
          <div class="mb-3">
            <textarea
              class="form-control"
              name="description"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Comentario sobre el pueblo"
            ></textarea>
          </div>
          <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">ENVIAR</button>
            <a href="http://localhost:3000/"><h3>VOLVER</h3></a>
          </div>
        </form>
      </div>
    </section>

    <%- include('footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
